menuconfig WIREPAS_LIBRARY
    bool "Wirepas Library"
    help
       Select this option to enable support for the Wirepas Dual-MCU API,
       via the esp-idf component for the Wirepas Connectivity.

config WIREPAS_UART_BUFSIZE
    int "Wirepas UART Buffer Size"
    depends on WIREPAS_LIBRARY
    default 2048
    range 64 2048
    help
	uart RX/TX buffer size

config WIREPAS_UART_BAUD_RATE
    int "Wirepas UART Buffer Baud Rate"
    depends on WIREPAS_LIBRARY
    default 115200
    range 115200 921600
    help
	uart RX/TX baudrate
