menuconfig WIREPAS_LIBRARY
    bool "Wirepas Library"
    help
       Select this option to enable support for the Wirepas Dual-MCU API,
       via the esp-idf component for the Wirepas Connectivity.

config WIREPAS_UART_BUFSIZE
    int "Wirepas UART Buffer Size"
    depends on WIREPAS_LIBRARY
    default 2048
    range 64 2048
    help
	uart RX/TX buffer size
